body {
  background-color: rgb(17, 24, 39);
  height: 1100px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  margin: 0;
}

.div_Titulos {
  cursor: default;
  justify-items: center;
}

.Titulo {
  height: fit-content;
  width: fit-content;
  color: rgb(18, 202, 187);
  font-size: 40px;
  font-weight: 1000;
  transform: scale(1.05, 1.20);
  margin: 0;
  margin-top: 20px;
}

.SemiTitulo {
  height: fit-content;
  width: fit-content;
  color: rgb(151, 158, 171);
  font-size: 16px;
  font-weight: light;
  margin-top: 8px;
}
